@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.wavehand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

section {
  padding: 5rem 9%;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid black;
  color: black;
  cursor: pointer;
  background: none;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border-radius: 40px;
}

.btn:hover {
  background: crimson;
  color: white;
  outline: none;
  border: none;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header.active {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: crimson;
  -webkit-text-stroke: 0.5px whitesmoke;
  display: inline-block;
  font-weight: 900;
}
.wrapper1 {
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 550px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.wrapper1 h1 {
  text-align: center;
  color: crimson;
  font-size: 35px;
}
.contact-form {
  width: 100%;
}

.uil {
  height: 80%;
  width: 100px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #5f66618f;
  padding: 10px;
  color: black;
  width: 100%;
}
button {
  margin-top: 1.2rem;
  display: inline-block;
  border: 0.2rem solid crimson;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 40px;
  background: none;
}

button:hover {
  background-color: crimson;
  color: white;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
}
.header .navbar a:hover {
  color: crimson;
}
.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: black;
  display: none;
}
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: black;
}

.header.icons a:hover,
.header.icons div:hover {
  color: green;
}
.header #menu-btn {
  display: none;
  color: black;
}

form {
  width: 90vw;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid white;
  display: flex;
  align-items: center;
}
form input {
  width: 100%;
  font-size: 2rem;
  color: white;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}

form input::placeholder {
  color: #aaa;
}

form label {
  font-size: 3rem;
  cursor: pointer;
  color: white;
}
form label:hover {
  color: green;
}
.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}

.home .content {
  width: 40rem;
  margin-top: 10rem;
}
.home .content span {
  font-size: 2rem;
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.home .content h3 {
  font-size: 3rem;
  color: crimson;
  -webkit-text-stroke: 0.5px whitesmoke;
  padding-top: 0.5rem;
  text-transform: uppercase;
  text-align: left;
}
.home .content p {
  line-height: 2;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  text-align: center;
  padding: 1rem;
}
.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 6px 3px grey;
}
.category .box-container .box h3 {
  font-size: 2rem;
  background: linear-gradient(to right, #2545fc, #0de3eb, #100a2e, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.packages {
  background: #eee;
}

.packages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.packages .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.packages .box-container .box:hover {
  background: crimson;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.packages .box-container .box:hover .content > * {
  color: #fff;
}

.packages .box-container .box:hover .btn {
  border-color: #fff;
}

.packages .box-container .box:hover .btn:hover {
  background: #fff;
  color: crimson;
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

.packages .box-container .box .content {
  padding: 2rem;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.packages .box-container .box .content .price {
  font-size: 2.2rem;
  color: green;
}

.footer {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../images/footer1.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/footer1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: crimson;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: crimson;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: crimson;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .input {
    width: 42vw !important;
  }
  button {
    width: 42vw !important;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
  .home .box .conent {
    text-align: center;
  }
  .home .box .conent span {
    font-size: 3rem;
  }
  .home .box .conent h3 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: white;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .contact-form {
    flex-direction: column;
  }
  .input-fields {
    width: 100%;
  }
  .input {
    width: 75vw !important;
  }
  button {
    width: 75vw !important;
  }

  form {
    flex-direction: column;
    width: 70vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .input {
    width: 79vw !important;
  }
  form {
    width: 50vw;
  }
  button {
    width: 79vw;
  }
  .wrapper1 {
    padding: 10px;
  }
}
